<!-- Footer start -->

<footer id="footer">
	<div class="container">
		<div class="row">

			<div class="col-sm-12">

				<ul class="social-links">
					{% if site.github_username %}
					<li><a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener" class="wow fadeInUp"><i
								class="fab fa-github"></i></a></li>
					{% endif %}
					{% if site.twitter_username %}
						<li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener" class="wow fadeInUp" data-wow-delay=".1s" title="Twitter"><i class="fab fa-twitter"></i></a></li>
					{% endif %}
					{% if site.facebook_username %}
					<li><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank" rel="noopener" class="wow fadeInUp" data-wow-delay=".2s" title="Facebook"><i
								class="fab fa-facebook-f"></i></a></li>
					{% endif %}
					{% if site.instagram_username %}
					<li><a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank" rel="noopener" class="wow fadeInUp"
							data-wow-delay=".2s" title="Instagram"><i class="fab fa-instagram"></i></a></li>
					{% endif %}
					{% if site.email %}
						<li><a href="mailto:{{ site.email }}" target="_blank" rel="noopener" class="wow fadeInUp" data-wow-delay=".3s" title="Email"><i class="fa fa-envelope"></i></a></li>
					{% endif %}
				</ul>

				<p class="copyright">
					© {{ 'now' | date: "%Y" }} bettysteger.com, All Rights Reserved.
				</p>

			</div>

		</div><!-- .row -->
	</div><!-- .container -->
</footer>

<!-- Footer end -->

<!-- Scroll-up -->

<div class="scroll-up">
	<a id="scroll-up"><i class="fas fa-arrow-up"></i></a>
</div>